.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* Header */


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  overflow: hidden;
  z-index: 0;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  max-width: 730px;
  width: 100%;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  width: 100%;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  background-image: url(../images/header-image.png);
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: cover;
  width: 765px;
  height: 608px;
  z-index: -1;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  z-index: -2;
}

/* Description */


.description {
  display: flex;
}

.description__two-columns {
  margin: 100px auto 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  min-height: 400px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Digits */


.digits {
  display: flex;
  flex-direction: column;
}

.digits__section-title {
  margin: 100px auto 20px;
}

.digits__section-subtitle {
  margin: 20px auto 0;
}

.digits__table {
  margin: 0 auto 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding-left: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Feynman */


.feynman {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 890px;
  z-index: 0;
}

.feynman__title {
  margin: 100px auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  right: 48px;
  top: 50%;
}

.feynman__img {
  background-image: url(../images/feynman.png);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

/* Kaufman */


.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.kaufman__section-title {
  margin: 100px auto 20px;
}

.kaufman__section-subtitle {
  margin: 20px auto 0;
}

.kaufman__table {
  margin: 0 auto 100px;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

/* Footer */


.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  padding-left: 0;
  list-style-type: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  margin-right: 10px;
}
